{% extends 'base.html.twig' %}

{% block title %}Nationnalite{% endblock %}

{% block body %}
    <h1>Nationnalite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nationnalite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ nationnalite.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nationnalite_index') }}">back to list</a>

    <a href="{{ path('nationnalite_edit', {'id': nationnalite.id}) }}">edit</a>

    {{ include('nationnalite/_delete_form.html.twig') }}
{% endblock %}
